.drummachine-page{
  background-color:blue;
  user-select: none;//don't select text when cell is touche

  .drummachine{ @extend %drummachine }
}

%drummachine{
  .drumcell-row-container{ @extend %drumcell-row-container }
}

%drumcell-row-container{
  background-color: green;
  .drumcell-row{@extend %drummachine-cell-row}
}

%drummachine-cell-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .row-name{
    padding: 2%;
    //margin: 1%;
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .drummachinecell{ @extend %drummachinecell }
}

%drummachinecell{
  background-color: silver;
  padding: 2%;
  margin: 1%;
  width: 10%;
  max-width: 10px;
  max-height: 10px;
  vertical-align: middle;
  //justify-content: center;
  //flex-direction: column;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.active{
    background-color: yellow;
  }

  > label{
  }
}



