.drummachine-page{
  background-color:blue;

  .drummachine{ @extend %drummachine }
}

%drummachine{
  .drumcells-container{ @extend %drumcells-container }
}

%drumcells-container{
  background-color: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .drumcell{ @extend %drumcell }
}

%drumcell{
  background-color: silver;
  padding: 2%;
  margin: 1%;
  width: 10%;
  &.active{
    background-color: yellow;
  }
}


